- provide(:title, 'Amigos')

%ul#og-grid.og-grid
  %li
    %a{"data-description" => "<p>Me gusta descubrir cosas, expandir mis horizontes, no me gusta quedarme quieto.</p><p>Me encanta admirar la cultura de los demás, ya sea en artes plásticas, escénicas, musicales y literarias (agrego también las tecnológicas y mucho más las gastronómicas).</p><p>No me gusta la infidelidad en todos sus aspectos, la traición y la mentira son mis más grandes enemigos.</p><p>Me gusta respetar, puesto que hay acontecimientos en la vida de los demás que los han hecho así, de la misma manera en que he sido formado.</p><p>Y ya.</p>", "data-largesrc" => "/assets/authors/hicl-big.png", "data-title" => "Hector Castro", :href => "http://twitter.com/marhabed"}
      = image_tag('authors/hicl.gif', alt: 'Héctor Castro', width: '230')
  %li
    %a{"data-description" => "<p>Estoy a favor del FLOSS (free/libre/open-source software) y la cultura libre, y muy particularmente de la idea de BookCrossing.</p><p>Mis aficiones incluyen la programación de computadoras, literatura, juegos de ingenio, música bonita, cortometrajes de animación.</p><p>Profesionalmente estoy interesado en el arte computacional, el procesamiento de lenguaje natural, la computación distribuida, la programación funcional, el diseño de lenguajes y la construcción de compiladores.</p>", "data-largesrc" => "/assets/authors/edmt-big.png", "data-title" => "Daniel Martinez", :href => "http://twitter.com/dtumbolia"}
      = image_tag('authors/edmt.png', alt: 'Daniel Martínez', width: '230')
  %li
    %a{"data-description" => "<p>Soy perfeccionista con todo lo que me rodea, vivo con la curiosidad a la vuelta de la esquina; nunca dejo de preguntar y buscar la respuesta de mis dudas.</p><p>Mi camino es el del desarrollo web pero eso no impide que sienta una fuerte pasión por el diseño en general.</p><p>Mi vida está regida por una regla muy especial y que intento cumplir cada día: crear un legado digno de recordar.</p>", "data-largesrc" => "/assets/authors/aav-big.png", "data-title" => "Adrian Ayala", :href => "http://twitter.com/adrrian17"}
      = image_tag('authors/aav.jpeg', alt: 'Adrian Ayala', width: '230')
  %li
    %a{"data-description" => "<p>No tengo biografía porque no se la pasé a tiempo al que escribió esto.</p><p>u_____u</p>", "data-largesrc" => "/assets/authors/ufme-big.png", "data-title" => "Uriel Molina", :href => "http://twitter.com/urielable"}
      = image_tag('authors/ufme.jpg', alt: 'Uriel Molina', width: '230')
  %li
    %a{"data-description" => "<p>Mi nombre es Carlos, mejor conocido como Charly. Soy Ingeniero Administrador de Sistemas. Me apasiona todo lo relacionado con tecnología, lenguajes de programación, redes, criptografía, seguridad informática, andar de todólogo y mucho más. Mi sistema operativo preferido es GNU/Linux.</p><p>Me gusta leer y compartir el conocimiento. Otra de mis pasiones es el fútbol. Lo más importante en mi vida: mi amor por Jesucristo y mi familia.</p><p></p>", "data-largesrc" => "/assets/authors/cr-big.png", "data-title" => "Carlos Ruiz", :href => "http://twitter.com/CharlyGLAMPP"}
      = image_tag('authors/cr.png', alt: 'Carlos Ruiz', width: '230')
