.container
  - @posts.each do |post|
    .row.post-data
      .span9
        %a.post-title{:href => "#permalink"}= post.title
        %p.post-date= post.publish_date.strftime '%Y  /  %m  /  %d'
    .row.post-body
      .span9
        = post.body
    .row
      .span9.post-tags
        - post.tags_related.each do |tag|
          %a{:href => "/categories/#{tag.id}"}= "##{tag.tag}"
    %hr
  #pagination
    %a.pull-left{:href => "#"} ← Pasado
    %a.pull-right{:href => "#"} Presente →
