.container
  - @posts.each do |post|
    .post{'data-id' => post.id, 'data-date' => post.publish_date}
      %a.post-title{:href => "/posts/#{post.id}"}= post.title
      .post-date
        por
        %a{:href => "/authors/#{post.author_id}"}= post.author.first_name
        en
        = post.publish_date.pretty
      .post-body
        = raw post.content
      .post-tags
        - post.tags_related.each do |tag|
          %a{:href => "/categories/#{tag.id}"}= "##{tag.tag.downcase}"
    %hr
  #bottom-spinner
